# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
venv*/
*.pyc

# Django settings
.env
local_settings.py

# Media
media/
!media/avatars/default.jpeg
!media/thumbnails/default.jpeg

# Static files
staticfiles/

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Database
*.sqlite3

# Compiled Python modules
*.pyc

# Translation files
*.mo

# macOS
.DS_Store